
@{
    ViewBag.Title = "AdminLoggedIn";
}

<h2>Congratulations Admin</h2>
<h3>You're logged in, please choose option below</h3>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Users", "Index", "Admin")</p>
<p>@Html.ActionLink("Questions", "Questions", "Admin")</p>

