
@{
    ViewBag.Title = "Index";
}

<h2>Hello, please choose option below</h2>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Log In", "LogIn", "Registration")</p>
<p>@Html.ActionLink("Registration", "Registration", "Registration")</p>


